<main role="main" aria-labelledby="formheadline">
    Loggin Form
    <form class="form" method="post">
       <!-- <h2 id="formheadline" class="registration-headline"><fmt:message key="login.headline" /></h2>
        <c:if test="${error}">
            <p class="error-text">
                <fmt:message key="login.invalidLoginData" />
            </p>
        </c:if>
        <div class="form-row">
            <label class="form-label" for="email-input">
                <fmt:message key="login.email" />
            </label>
            <input type="email" name="email" id="email-input" required class="form-input">
            <span id="email-error" class="error-text"></span>
        </div>
        <div class="form-row">
            <label class="form-label" for="password-input">
                <fmt:message key="login.password" />
            </label>
            <input type="password" name="password" id="password-input" required class="form-input" minlength="4" maxlength="12">
            <span id="password-error" class="error-text"></span>
        </div>
        <div class="form-row form-row-center">
            <button class="button button-submit">
                <fmt:message key="login.login" />
            </button>
        </div>-->
    </form>
</main>
<jsp:include page='partials/footer.jsp'/>