main { display: flex; }
main > article { order: 2; min-width: 12em; flex: 1; }
main > aside {
    order: 3;
    width: 300px;
    border-left: 1px solid #A1A1A1;
}
@media all and (max-width: 600px) {
    main { flex-flow: column; }
    main > article, main > nav, main > aside {
        order: 0; width: auto;
    }
}

body{
    margin:0em;
    font-family: Arial;
}

/* Footer */
footer{
    width: 100%;
    text-align: center;
}


/* Header Stuff */

header {
    height: 5em;
    margin: 0em;
    padding: 0em;
    background: -webkit-linear-gradient(#F97500, #cc3407);
    background: -o-linear-gradient(#F97500, #cc3407);
    background: -moz-linear-gradient(#F97500, #cc3407);
    background: linear-gradient(#F97500, #cc3407);

    -webkit-box-shadow: 1px 0px 30px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 1px 0px 30px 0px rgba(0,0,0,0.6);
    box-shadow: 1px 0px 30px 0px rgba(0,0,0,0.6);
}

header > img {
    margin: 15px;
}

header > div{
    display: inline;
   /* TODO: center vertical */
}


/* Articles Stuff */

article{
    margin: 10px;
}

article > h1{
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 10px;
}

article > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article > div > div{
    margin: 1em;
    width: 250px;
    height:380px;

    -webkit-box-shadow: 1px 0px 15px 0px rgba(0,0,0,0.6);
    -moz-box-shadow:    1px 0px 15px 0px rgba(0,0,0,0.6);
    box-shadow:         1px 0px 15px 0px rgba(0,0,0,0.6);

    border: 1px solid #A1A1A1;
    border-radius: 5px;
}

article > div > div:hover{
    -webkit-box-shadow: 1px 0px 15px 0px rgb(237, 121, 15);
    -moz-box-shadow:    1px 0px 15px 0px rgb(237, 121, 15);
    box-shadow:         1px 0px 15px 0px rgb(237, 121, 15);
    color:rgb(237, 121, 15);
}

article > div > div.expired{
    color: #A1A1A1;
}

article > div > div > img{
    width: 100%;

    -webkit-border-radius:  4px 4px 0px 0px;
    -moz-border-radius:     4px 4px 0px 0px;
    border-radius:          4px 4px 0px 0px;
}

/* Text Box */
article > div > div > div{
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: 300;
}

article > div > div > div > div.title{
    font-size: 150%;
    margin-top: 0.5em;

 }

article > div > div > div > div.price{
    font-size: 150%;
    margin-top: 0.5em;
}

article > div > div > div > div.time{
    display: inline;
    float: left;
    margin-left: 10px;
    margin-top: 1em;
}

article > div > div > div > div.bidder{
    display: inline;
    float: right;
    margin-right: 10px;
    margin-top: 1em;
}


/* Aside Stuff */
aside > div{
    padding-left: 10px;
}


/* Registration */

#registration{
    margin: auto;
    width: 60%;
    padding: 10px;

}

#registration label{
    display:block;
    float:left;
    width:200px;
    margin-bottom: 1em;
}

#registration .checkboxText{
    display: inline;
    float: inherit;
}

#registration input{
    width: 100%;
    font-size: 120%;
    padding: 5px;
    border: 1px solid #A1A1A1;

    -moz-border-radius:     5px;
    -webkit-border-radius:  5px;
    border-radius:          5px;

    -webkit-box-shadow:0px;
    -moz-box-shadow:0px;
    box-shadow:0px;
}

#registration input[type="checkbox"] {
    width: inherit;
}

#registration select{
    width: 100%;
    font-size: 100%;
    padding: 10px;
    height:35px;
    line-height:35px;
    background: #ffffff;
}

#registration button{
    width: 100%;
    height:50px;
    font-size: 110%;
    margin-top: 20px;
    border: 1px solid #A1A1A1;

    -moz-border-radius:     5px;
    -webkit-border-radius:  5px;
    border-radius:          5px;
    
    -webkit-box-shadow:0px;
    -moz-box-shadow:0px;
    box-shadow:0px;

    background: -webkit-linear-gradient(    #efefef, #a3a3a3);
    background: -o-linear-gradient(         #efefef, #a3a3a3);
    background: -moz-linear-gradient(       #efefef, #a3a3a3);
    background: linear-gradient(            #efefef, #a3a3a3);
}

.text-center{
    text-align: center
}